{% extends "base.html" %}

{% block title %}Add Task List{% endblock %}

{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        <label for="name">Name</label>
        <br />
        <input class="form-control" type="text" name="name" id="name" value="{{name}}">
        <br />
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}