{% extends "base.html" %}
{% load static %}

{% block content %}
<div style="margin-left: 50px">
    <form action="{% url "add_task" %}" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <br />
        <input class="form-control" type="text" name="title" id="title">
        <br />
        <label for="description">Description</label>
        <br />
        <textarea class="form-control" name="description" id="description" > </textarea>
        <br />
        <label for="priority">Priority</label>
        <select class="form-control" name="priority" id="priority">
            <option value="2">2</option>
            <option value="1">1</option>
            <option value="0">0</option>
            <option value="-1" selected="">-1</option>
        </select>
        <br />

        <div class="form-row field-tags">
            <div>
                <label for="list_id">List:</label>
                <div class="related-widget-wrapper">
                    <select class="form-control" name="list_id" id="list_id">
                        {% for list in task_lists %}
                        <option value="{{ list.id }}">{{ list.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div>
            <label for="deadline">Deadline:</label>
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='deadline'>
                            <input type='text' class="form-control" name="deadline" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#deadline').datetimepicker();
                    });
                </script>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-2">
                <label for="period">Repeat every:</label>
                <input type="number" min="1" name="count" class="form-control" style="margin-bottom:10px" value="1">
                <select class="form-control" name="period" id="period">
                    <option value="D">Days</option>
                    <option value="W">Weekdays</option>
                    <option value="N" selected>None</option>
                </select>
            </div>
            <div class="col col-sm-2">
                <label for="days">Days:</label>
                <select class="form-control"  name="days" id="days" multiple="multiple">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>
        </div>

        <br />
        <input type="submit" class="btn btn-primary" value="submit">

        {% if msg != None %}
            <div class="alert alert-danger" role="alert">
              {{ msg }}
            </div>
        {% endif %}

    </form>
</div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-dtp.min.css" %}">
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% endblock %}