{% extends "base.html" %}

{% block title %}Invite User{% endblock %}

{% block content %}
    <form method="post">
    {% csrf_token %}
    <label for="user_id">Username</label>
    <br />
    <select class="form-control" name="user_id" id="iser_id">
        {% for user in users %}
        <option value="{{ user.id }}">{{ user }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="submit" class="btn btn-primary">
</form>
{% endblock %}
