{% extends "base.html" %}

{% block content %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
<h2>{{list.name}}</h2>
<form>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% if not list.is_private %}
        <a href="invite/" class="btn btn-primary">Invite</a>
        {% endif %}
        {% if owner %}
        <a href="delete/" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
</form>
<h5>Users:</h5>
<ul>
    {% for user in users %}
    <li>
        {{ user }}
        {% if owner and user != request.user %}
        <form action="kick/{{user.id}}" class="task_form" style="display: inline">
            <input type="submit" class="btn btn-link" value="Kick" />
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
    {% include "tasks/tasks.html" %}
{% endblock %}
