<ul class="list-group">
<label class="label">Tasks In Progress:</label>
    {% for task in tasks %}
        {% if task.state == 'Out of time' or task.state == 'Progress' %}
            <li class="list-group-item">
                <a href="/tasks/task-details/{{task.task_id}}" {% if task.state == 'Out of time' %} style="color: red" {% endif %}>
                    {{task.name}}
                {% if task.replan_period or task.replan_weekdays %}
                    repeatable
                {% endif %}
                </a>
                {% if task.last_day %} - {{task.last_day}} {% endif %}
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/tasks/complete-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Complete</a>
                    <a href="/tasks/edit-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Edit</a>
                    <a href="/tasks/delete-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Delete</a>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<label class="label">Completed Tasks:</label>
<ul>
    {% for task in tasks %}
        {% if task.state == 'Completed' %}
        <li class="list-group-item">

            <a href="/tasks/task-details/{{task.task_id}}">
                {{task.name}}
            </a>

            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/tasks/delete-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Delete</a>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
