{% extends 'base.html' %}

{% block title %}
Task info {{ task.title }}
{% endblock%}

{% block content %}
<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col col-sm-6">
            <h1>{{task.name}}</h1>


            <a href="/tasks/complete-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Complete</a>

            <a href="/tasks/edit-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Edit</a>
            <a href="/tasks/delete-task/{{task.task_id}}/?next={{request_path}}" class="btn btn-link">Delete</a>

            <p>Description:&nbsp {{task.description}} </p>

            <p>Deadline: &nbsp {{task.last_date}} </p>
            {% if task.replan_period %}
            <p>Repeat every: &nbsp {{task.replan_period.days}} &nbsp day(s) </p>
            {% endif %}
            {% if task.replan_weekdays %}
            <p>At: &nbsp
                {% if 1 in task.replan_weekdays %} Monday {% endif %}
                {% if 2 in task.replan_weekdays %} Tuesday {% endif %}
                {% if 3 in task.replan_weekdays %} Wednesday {% endif %}
                {% if 4 in task.replan_weekdays %} Thursday {% endif %}
                {% if 5 in task.replan_weekdays %} Friday {% endif %}
                {% if 6 in task.replan_weekdays %} Saturday {% endif %}
                {% if 7 in task.replan_weekdays %} Sunday {% endif %}
                </p>
            {% endif %}
            <p>Owner: &nbsp {{task.user}} </p>
            {% if task.status == 'C' %}
            <p>Completed user:&nbsp {{task.completed_user}} </p>
            {% endif %}
            <p>Status:&nbsp {{task.state}} </p>
            <p>Priority:&nbsp {{task.priority}} </p>
        </div>
        <div class="col col-sm-6">
            <h3>Subtasks:</h3>
            <form method="post" class="form-group">
                {% csrf_token %}
                <label for="subtask_name">Name</label>
                <div class="input-group">
                    <input type="text" id="subtask_name" name="subtask_name" class="form-control">
                    <input type="submit" class="btn btn-primary" value="New SubTask">
                </div>
            </form>
            <hr>
            <h2>In Progress</h2>
            <ul class="list-group">
                {% for st in task.sub_tasks %}
                    {% if st.state == "Progress" %}
                    <li>{{st.name}}
                        <form action="/tasks/complete-task/{{st.task_id}}/" class="task_form">
                            <input type="submit" class="btn btn-link" value="Complete" />
                        </form>
                        <form action="/tasks/delete-task/{{st.task_id}}/" class="task_form">
                            <input type="submit" class="btn btn-link" value="Delete" />
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
            <h2>Completed</h2>
            <ul class="list-group">
                {% for st in task.sub_tasks %}
                    {% if st.state == "Completed" %}
                    <li>{{st.name}}
                        <form action="/tasks/delete-sub-task/{{st.task_id}}/{{ task.task_id }}" class="task_form">
                            <input type="submit" class="btn btn-link" value="Delete" />
                        </form>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
