{% extends "base.html" %}

{% block content %}
<ul class="list-group">
    {% for list in task_lists %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="/tasks/task-lists/{{list.manager_id}}">{{ list.name }}</a>
        <span class="badge badge-primary badge-pill">{{ list.count }}</span>
      </li>
    {% endfor %}
</ul>
{% endblock %}