{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-outline-primary" href="/accounts/sign-up/" role="button">Don't have an account</a>
    </form>
{% endblock %}