{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h2>Fill the Sign Up form, please</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-outline-primary" href="/accounts/log-in/" role="button">Already have an account</a>
    </form>
{% endblock %}
